.article
	width: 100%

	&__container
		padding: 0
		overflow: hidden

	&__wrap
		display: flex
		flex-direction: column
		width: 100%
		padding 0 15px
		padding-bottom 40px

		@media $laptop
			padding: 0 50px
			padding-bottom 80px

	&__title
		fz-20()
		line-height 120%
		font-weight bold
		color: $l-black
		width: 100%
		text-align: center
		padding-bottom 20px

		@media $laptop
			text-align: left

	&__slider
		width: 100%

	& .swiper-wrapper
		width: 100%

	&__slider-list
		width: 100%
		list-style: none
		padding 0
		margin 0
		padding-bottom 20px

		@media $laptop
			padding-bottom 30px

	&__item
		width: 100%
		position relative
		border-radius: 12px

		&.swiper-slide
			height: auto

		@media $max-md
			max-width: 308px

		@media $md
			max-width: 373px

	&__link
		position absolute
		width: 100%
		height: 100%
		top 0
		left 0
		border-radius: inherit

		@media $laptop
			display none

	&__link--products
		display: block

	&__inner
		border-radius: inherit
		display: flex
		flex-direction: column
		height: 100%

	&__img
		width: 100%
		border-top-left-radius: inherit
		border-top-right-radius: inherit
		position relative

		& img
			border-top-left-radius: inherit
			border-top-right-radius: inherit

	&__content
		width: 100%
		padding: 20px
		background-color: $l-gray
		border-bottom-left-radius: inherit
		border-bottom-right-radius: inherit
		flex: 1

		@media $laptop
			display: flex
			flex-direction: column

	&__s-title
		fz-16()
		line-height 120%
		color: $green
		font-family $Noto
		font-weight bold
		text-align: left
		padding-bottom 10px

	&__text
		fz-12()
		color: $m-black
		font-family $Noto
		font-weight normal
		text-align left

		@media $laptop
			flex: 1

			&:not(:last-child)
				padding-bottom: 20px

	&__b-link
		fz-14()
		text-decoration: none
		font-family: $Noto
		color: $white
		background-color: $purple
		padding: 10px 20px 11px
		display: block
		max-width: 136px
		text-align: center
		border-radius: 20px
		margin: 0 auto

		@media $laptop
			margin: 0

	&__p-link
		display: none

		@media $laptop
			text-decoration: none
			display: block
			font-size: 14px
			line-height 21px
			text-align: left
			font-family: $Noto
			font-weight 600
			color: $green
