.products
	width 100%

	&__container
		padding 0

	&__btn-list
		list-style: none
		padding 0
		margin 0
		display flex
		flex-direction: row
		justify-content: space-between
		flex-wrap: wrap
		padding-bottom 50px
		align-items: flex-start

		@media $xxl
			justify-content: center

	&__btn-item
		flex: 1
		display: flex
		flex-direction: row
		justify-content: center

		&:not(:last-child)
			margin-right 20px

		@media $xxl
			flex: 0 0 auto

	&__btn
		fz-13()
		font-weight 500
		line-height 15px
		color $m-gray
		text-align: center
		font-family $Noto
		border: 0
		cursor pointer
		background: none
		display block

	&__btn--active
		color: $green
		position relative

		@media $xxl
			&::before
				content: ''
				position: absolute
				width 5px
				height 5px
				border-radius: 50%
				background-color: $purple
				top: -8px
				left: calc(50% - 2.5px)

	&__list
		list-style: none
		padding 0
		padding-bottom 40px
		margin 0

		@media $lg
			display flex
			flex-direction: row
			flex-wrap: wrap

	&__item
		border-bottom: 1px solid $border-footer

		@media $lg
			width 100%
			max-width: 50%
			display flex
			flex-direction: column
			padding: 10px
			padding-top: 30px

			&:nth-child(odd)
				border-right: 1px solid $border-footer

			&:nth-child(even)
				@media (max-width: 1279px)
					padding-left: 20px

		&:not(:last-child)
			margin-bottom 30px

			@media $lg
				margin: 0

		@media $xxl
			flex: 0 1 auto
			max-width: 390px
			padding: 40px

			&:nth-child(odd)
				border-right: 0

			&:not(:nth-child(3n+3))
				border-right: 1px solid $border-footer

			&:nth-last-child(-n+3)
				border-bottom: 0

	&__item-images
		width 100%
		display flex
		justify-content: center
		flex-wrap: wrap

		@media $xxl
			justify-content: flex-start

	&__img
		width 100%
		height 220px
		display flex
		justify-content: center
		margin-bottom 30px

		& img
			width auto
			max-width: 100%

	&__icons
		margin-bottom 20px

	&__icon
		fill: $border-footer

	// change fill drops
	&__item[data-drops='1'] .products__icon:first-child
		fill: $purple
	&__item[data-drops='2'] .products__icon:nth-child(-n+2)
		fill: $purple
	&__item[data-drops='3'] .products__icon:nth-child(-n+3)
		fill: $purple
	&__item[data-drops='4'] .products__icon:nth-child(-n+4)
		fill: $purple
	&__item[data-drops='5'] .products__icon:nth-child(-n+5)
		fill: $purple
	&__item[data-drops='6'] .products__icon:nth-child(-n+6)
		fill: $purple
	&__item[data-drops='7'] .products__icon
		fill: $purple
	//

	&__content
		width 100%
		text-align: center

		@media $lg
			flex: 1
			display flex
			flex-direction: column
			align-items: flex-start
			text-align: left

	&__title
		fz-18()
		color: $green
		line-height 21px
		font-weight 700
		font-family $Noto
		text-align: center
		padding-bottom 15px

		@media $xxl
			text-align: left

	&__text
		fz-14()
		line-height 21px
		text-align: center
		font-weight normal
		font-family $Noto
		padding-bottom 25px
		color: $m-black

		@media $lg
			flex: 1
			text-align: left

	&__i-list
		list-style: none
		padding 0
		margin 0
		display inline-flex
		flex-direction: column
		align-items: flex-start
		padding-bottom 30px

		@media $xxl
			padding-bottom 60px

	&__i-item
		display inline-flex
		align-items: center
		justify-content: space-between

		&:not(:last-child)
			padding-bottom 15px

		&::before
			content: ''
			display inline-flex
			width 33px
			height 32px
			background: url('/f/img/products-sprite.png') -10px -10px;
			margin-right: 12px
			flex: 1 0 auto

	&__i-item--max
		&::before
			background-position: -10px -62px;

	&__i-item--control
		&::before
			background-position: -10px -114px;

	&__i-text
		fz-13()
		line-height 15px
		color: $m-black
		font-family $Noto
		font-weight 500
		display block

	&__more-link
		fz-14()
		text-decoration: none
		padding: 10px 20px 11px
		border-radius: 20px
		line-height 16px
		font-weight 500
		color $purple
		text-align: center
		display block
		border: 1px solid $purple
		width 100%
		max-width: 90%
		margin: 0 auto
		margin-bottom 30px

		@media $xxl
			margin: 0
			margin-bottom 40px
			max-width: 141px
