.about article {
    max-width: 1040px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.about-top {
    border-bottom: 1px solid rgba(151, 151, 151, .2);
}

.about-top-img {
    display: flex;
    justify-content: center;
}

.about-top-contacts {
    display: flex;
    justify-content: space-between;
    padding: 60px 70px;
}

.contacts-telephone {
    flex: 0 1 50%;
    box-sizing: border-box;
    padding-right: 30px;
}

.about-top-contacts h3 {
    font-family: 'MuseoCyrl';
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    color: #424242;
    margin: 0;
}

.contacts-telephone__number {
    font-family: 'MuseoCyrl';
    font-weight: 500;
    font-size: 21px;
    line-height: 26px;
    color: #424242;
    margin-top: 11px;
}

.contacts-telephone__link {
    font-family: 'MuseoCyrl';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #424242;
    margin-top: 11px;
}

.contacts-telephone__link a {
    color: #5FB422;
    text-decoration: underline;
}

.contacts-address {
    flex: 0 1 50%;
    box-sizing: border-box;
    padding-left: 55px;
    background: url('../img/address-icon.svg') 0 90% no-repeat;
    background-size: 35px 50px;
}

.contacts-address__text {
    display: block;
    font-family: 'MuseoCyrl';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #5fb422;
    margin-top: 10px;
}

.contacts-address__text span {
    border-bottom: 1px dashed #5fb422;
    padding-bottom: 2px;
}

.about-bottom {
    padding: 40px 70px 130px;
}

.about-bottom__h2 {
    font-family: 'MuseoCyrl';
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    color: #424242;
    margin: 0;
}

.about-bottom__text {
    font-family: 'OpenSans';
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #797979;
    margin-top: 15px;
}

.about-bottom__title {
    font-family: 'MuseoCyrl';
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #424242;
    text-align: center;
    margin-top: 40px;
}

.about-bottom__directions {
    display: flex;
    justify-content: space-between;
    margin: 25px 0 10px;
}

.direction__block {
    flex: 0 1 50%;
    padding: 30px;
    background: #fff;
    box-shadow: 0 15px 30px 0 rgba(93, 107, 120, 0.1);
}

.direction__block:not(:last-child) {
    margin-right: 30px;
}

.direction__title {
    font-family: 'MuseoCyrl';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #424242;
    margin: 0;
}

.direction__text {
    font-family: 'OpenSans';
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #797979;
    margin-top: 17px;
    margin-bottom: 0;
}

.direction__text span {
    white-space: nowrap;
}

.about-bottom__img {
    display: block;
    box-sizing: border-box;
    max-width: 100%;
    margin: 30px auto 0;
    padding-right: 140px;
}

.about-bottom__img_mobile {
    display: none;
}

@media only screen and (min-width: 691px) and (max-width: 1024px) {
    .about-top-img img {
        width: 50%;
    }

    .about-top-contacts {
        padding: 50px 40px;
    }

    .about-top-contacts h3 {
        font-size: 18px;
        line-height: 22px;
    }

    .contacts-telephone__number {
        font-size: 18px;
        line-height: 22px;
    }

    .contacts-address__text {
        font-size: 14px;
        line-height: 24px;
    }

    .about-bottom {
        padding: 40px 40px 100px;
    }

    .about-bottom__h2 {
        font-size: 25px;
        line-height: 32px;
    }

    .about-bottom__text {
        font-size: 13px;
        line-height: 18px;
    }

    .about-bottom__title {
        font-size: 21px;
        line-height: 26px;
        margin-top: 30px;
    }

    .direction__block {
        padding: 20px;
    }

    .direction__title {
        font-size: 16px;
        line-height: 22px;
    }

    .direction__text {
        font-size: 14px;
        line-height: 22px;
        margin-top: 15px;
    }

    .about-bottom__img {
        padding-right: 110px;
    }
}

@media only screen and (max-width: 690px) {
    .about article {
        margin-top: 30px;
    }

    .about-top {
        border-bottom: none;
    }

    .about-top-img img {
        width: 260px;
        height: 36px;
    }

    .about-top-contacts {
        flex-direction: column;
        justify-content: flex-start;
        padding: 30px 20px;
    }

    .contacts-telephone {
        flex: 0 1 100%;
        padding-right: 0;
    }

    .about-top-contacts h3 {
        font-size: 16px;
        line-height: 22px;
    }

    .contacts-telephone__number {
        font-size: 20px;
        line-height: 25px;
        margin-top: 5px;
    }

    .contacts-address {
        flex: 0 1 100%;
        margin-top: 30px;
    }

    .contacts-address h3 {
        margin-left: -55px;
    }

    .contacts-address__text {
        font-size: 14px;
        line-height: 24px;
    }

    .about-bottom {
        padding: 0 20px 80px;
    }

    .about-bottom__h2 {
        font-size: 20px;
        line-height: 24px;
    }

    .about-bottom__text {
        font-size: 13px;
        line-height: 18px;
    }

    .about-bottom__title {
        font-size: 18px;
        line-height: 24px;
        margin-top: 40px;
    }

    .about-bottom__directions {
        flex-direction: column;
        justify-content: flex-start;
        margin: 20px 0;
    }

    .direction__block {
        flex: 0 1 100%;
        padding: 20px;
        min-height: 130px;
    }

    .direction__block:not(:last-child) {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .direction__title {
        font-size: 16px;
        line-height: 20px;
    }

    .direction__text {
        font-size: 14px;
        line-height: 22px;
        margin-top: 15px;
    }

    .about-bottom__img {
        display: none;
    }

    .about-bottom__img_mobile {
        display: block;
        margin: 30px auto 0;
    }
}