extends ../../template/_layout

block pageVar
	-
		page = 'products';

block path
	-
		baseDir = '/f';

block title
	-
		title = 'Продукция для женщин';

block articleVar
	-
		article = 'Читайте статьи наших экспертов'

block page
	section.products
		.container
			+itemsFilter(['Все продукты', 'Прокладки', 'Впитывающее белье', 'После родов'])
			ul.products__list.js-products-wrap

	include ../../template/_article
