
.index_slider {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  height: 400px;
  /*overflow: hidden;*/
}

.index_slider__item {
  height: 400px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.index_slider__center {
  height: 100%;
  width: 1230px;
  padding: 55px 0 0;
  margin: 0 auto;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.index_slider__block {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  width: 100%;
  text-align: center;
  color: #fff;
}

.index_slider__title {
  margin: 0 0 11px;
  font-size: 36px;
  line-height: 1.375;
  letter-spacing: 3px;
  color: #fff;
  font-family: 'rotondac';
  text-transform: uppercase;
  /*font-weight: bold;*/
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.index_slider__text {
  margin: 0 0 30px;
  opacity: 0.89;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Roboto", Helvetica, Arial;
  /*font-weight: bold;*/
  text-shadow: 0px 2px 30px rgba(0, 0, 0, 0.5);
}

.index_slider__text p {
  font-family: 'Arial';
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.index_slider__btn {
    color: black;
}

.index_slider .owl-pagination {
  position: absolute;
  bottom: 24px;
  left: 50%;
  width: 1180px;
  margin-left: -590px;
  font-size: 0;
  text-align: center;
}

.index_slider .owl-page {
  display: inline-block;
  height: 8px;
  width: 8px;
  margin: 0 6px;
  font-size: 10px;
  border: 2px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.index_slider .owl-page.active {
  background: #fff;
}
.index_slider__shadow {
    text-shadow: 0px 1px 3px rgba(0,0,0, .8);
}

@media only screen and (max-width: 1229px) {
  .index_slider__center {
    width: 1024px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
  }
}

@media only screen and (max-width: 767px) {

  .index_slider {
    height: 120px;
  }

  .index_slider__item .index_slider__title {
    font-size: 20px !important;
  }

  .index_slider__item .index_slider__text p {
    font-size: 11px;
  }

  .index_slider__item {
    height: 120px;
  }

  .index_slider__center {
    padding-top: 0;
  }

}
