@import 'commons/fonts';
@import 'commons/var';
@import 'commons/mixins';
@import 'commons/base';
@import 'components/breadcrumb';
@import 'components/header';
@import 'components/footer';
@import 'components/top';
@import 'components/sub/sub';
@import 'components/main-page/main-page';
@import 'components/main-page/preview-catalog';
@import 'components/main-page/preview-info';
@import 'components/main-page/preview-shops';
@import 'components/main-page/recomendation';
@import 'components/about';
@import 'components/about-item/about-item';
@import 'components/about-item/social';
@import 'components/about-item/comments';
@import 'components/about-item/advise';
@import 'components/about-item/other';
