footer.footer
	.container.footer__container
		ul.footer__list
			li.footer__item
				h2.footer__sub-title Для женщин
				ul.footer__sub-list
					li.footer__sub-item
						a.footer__sub-link(href="#") Прокладки для женщин
					li.footer__sub-item
						a.footer__sub-link(href="#") Впитывающее белье для женщин
					li.footer__sub-item
						a.footer__sub-link(href="#") Послеродовые прокладки
			li.footer__item
				h2.footer__sub-title Для мужчин
				ul.footer__sub-list
					li.footer__sub-item
						a.footer__sub-link(href="#") Впитывающее белье для мужчин
			li.footer__item
				h2.footer__sub-title О недержании
				ul.footer__sub-list
					li.footer__sub-item
						a.footer__sub-link(href="#") Забота о близких
					li.footer__sub-item
						a.footer__sub-link(href="#") Полезные советы
					li.footer__sub-item
						a.footer__sub-link(href="#") Все статьи
			li.footer__item
				h2.footer__sub-title Полезное
				ul.footer__sub-list
					li.footer__sub-item
						a.footer__sub-link(href="#") О компании
		.footer__politics.politics
			.politics__logo
				img(src="/f/img/Kimberly-Clark-logo.svg", alt="Kimberly Clark", width='215', height='29')
			p.politics__text ® KCWW. Все права защищены.
			p.politics__text ® Зарегистрированный товарный знак Кимберли-Кларк Уэрлдуайд, Инк или его аффилированных лиц. Все наименования, логотипы и торговые марки являются собственностью Kimberly-Clark Worldwide.Inc
			p.politics__text Как и многие компании, мы используем сервис веб-аналитики Яндекс.Метрика.
			p.politics__text Сервис Яндекс.Метрика использует технологию «Сookie» с целью анализа пользовательской активности на вэб-сайте. Собранная при помощи «Cookie» информация не может идентифицировать посетителя нашего веб-сайта, но может помочь нам улучшить его работу.
			p.politics__text Пользователь нашего вэб-сайта может отказаться от использования «Cookie», выбрав соответствующие настройки в браузере. Также пользователь нашего вэб-сайта может использовать инструмент — <a href="https://yandex.ru/support/metrika/general/opt-out.html" target="_blank" rel='noreferrer' class="politics__link">https://yandex.ru/support/metrika/general/opt-out.html</a>. Однако это может повлиять на работу некоторых функций вэб-сайта.
			p.politics__text На нашем вэб-сайте также используется Google Аналитика (система аналитики Google Inc.) Эта система также использует «Cookie». Вы можете запретить Google отслеживать «Cookie», которые генерируются при посещении нашего вэб-сайта, включая ваш IP-адрес, путем скачивания и установки специального плагина для браузера. Более подробную информацию об использовании GoogleAnalytics Вы можете найти по ссылке <a href="https://marketingplatform.google.com/about/analytics/terms/ru/" target="_blank" rel='noreferrer' class="politics__link">https://marketingplatform.google.com/about/analytics/terms/ru/</a>. Мы также используем Google Analytics для анализа данных, полученных от AdWords, и файлов «cookie» из DoubleClick для статистических целей. Если Вы хотите отключить эту опцию, воспользуйтесь Менеджером рекламных предпочтений Google <a href="https://support.google.com/ads/answer/2662856?co=GENIE.Platform%3DAndroid&hl=ru" target="_blank" rel="noreferrer" class="politics__link">https://support.google.com/ads/answer/2662856?co=GENIE.Platform%3DAndroid&hl=ru</a>.
			p.politics__text Посещение нашего сайта и использование представленной на нем информации регулируются Условиями использования. Пожалуйста, ознакомьтесь также с нашей Политикой по персональным данным
			p.politics__text Как и многие компании, мы используем технологию «Cookie» на нашем вэб-сайте. «Cookie» сохраняется на вашем компьютере вашим браузером. Когда вы заходите на наш вэб-сайт, «Cookie» сообщает нам о том, являетесь ли вы новым посетителем нашего вэб-сайта или вы посещали его ранее. «Cookie» не получает никакой личной информации о вас, не обеспечивает нас каким-либо способом связи с вами и не извлекает никакой информации с вашего компьютера. Использование «Cookie» помогает нам определить, к каким разделам нашего сайта посетители проявляют наибольший интерес. Это позволяет нам размещать на нашем вэб-сайте больше интересной для посетителей информации.
