// font-size
fz-10()
	font-size 10px

fz-11()
	font-size 11px

fz-12()
	font-size 12px
	@media $xl
		font-size 14px
		line-height 120%

fz-13()
	font-size 13px
	@media $xl
		font-size 16px
		line-height 120%

fz-14()
	font-size 14px
	@media $xl
		font-size 18px
		line-height 120%

fz-16()
	font-size 16px
	@media $xl
		font-size 18px
		line-height 120%

fz-18()
	font-size 18px
	@media $xl
		font-size 24px
		line-height 120%

fz-20()
	font-size 20px
	@media $xl
		font-size 30px
		line-height 120%

fz-22()
	font-size 22px
	@media $xl
		font-size 42px
		line-height 120%

fz-24()
	font-size 24px
	@media $xl
		font-size 30px
		line-height 120%

// px to vw
get-vw(px, bp)
	(px * 100vw) / bp
