// fonts
$Noto = 'NotoSans',Helvetica,Arial,sans-serif;

// media
$xxl = 'screen and (min-width: 1280px)';
$xl = 'screen and (min-width: 1024px)';
$laptop = 'screen and (min-width: 900px)'
$lg = 'screen and (min-width: 768px)';
$md = 'screen and (min-width: 575px)';
$sm = 'screen and (min-width: 320px)';

$max-md = 'screen and (max-width: 574px)';

//breakpoint
$width-xl = 1280px
$width-lg = 960px
$width-md = 640px
$width-sm = 320px

//colors
$white = #ffffff;
$black = #000000;
$l-black = #333333;
$m-black = #4D4D4D;
$green = #00853F;
$gray = #999999;
$l-gray = #F9F9FA;
$buy-gray = #F1F5F6;
$purple = #9D2555;
$bg-footer = #F4F4F5;
$text-footer = #808080;
$border-footer = #E5E5E5;
$burger-green = #026920;
