.coupon-product
	width 100%
	margin-bottom 40px

	&__wrap
		background-color: #FAF8F2
		border-radius 12px
		padding: 30px 15px

	&__img
		width 100%
		margin-bottom: -30px

	&__content
		width 100%

	&__title
		fz-24()
		line-height 28px
		color $green
		font-family $Noto
		font-weight 700
		padding-bottom 20px
		text-align: center

	&__text
		fz-14()
		line-height: 21px
		color $m-black
		padding-bottom 30px
		font-family $Noto
		font-weight 400
		text-align: center

	&__link
		fz-14()
		line-height 16px
		font-family $Noto
		font-weight 500
		padding: 10px 20px 11px
		border 1px solid $purple
		border-radius: 20px
		text-decoration: none
		display block
		text-align: center
		color $purple
		width: fit-content
		margin: 0 auto
