.coupon-product
	width 100%
	margin-bottom 40px

	&__wrap
		background-color: #FAF8F2
		border-radius 12px
		padding: 30px 15px

		@media $lg
			display flex
			flex-direction: row-reverse
			align-items: center

		@media $laptop
			max-width: 984px
			margin: 0 auto

		@media $xl
			padding: 40px

	&__img
		width 100%
		margin-bottom 36px
		display flex
		justify-content: center

		& img
			max-width: 213px
			filter: drop-shadow(5px 45px 14px rgba(0,0,0,0.2))

			@media $xl
				max-width: 272px

	&__content
		width 100%
		text-align: center

		@media $lg
			margin-right: 15px

		@media $xl
			text-align: left

	&__title
		fz-24()
		line-height 28px
		color $green
		font-family $Noto
		font-weight 700
		padding-bottom 20px

	&__text
		fz-14()
		line-height: 21px
		color $m-black
		padding-bottom 30px
		font-family $Noto
		font-weight 400

		@media $laptop
			font-size 16px
			line-height 24px

	&__link
		fz-14()
		line-height 16px
		font-family $Noto
		font-weight 500
		padding: 10px 20px 11px
		border 1px solid $purple
		border-radius: 20px
		text-decoration: none
		display block
		text-align: center
		color $purple
		width: fit-content
		margin: 0 auto

		@media $lg
			margin: 0
