.feedback {
    width: 100%;
}

.feedback article {
    width: 100%;
    max-width: 644px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-form label {
    width: 25%;
    font-family: 'MuseoCyrl';
    font-size: 16px;
    color: #000000;
    letter-spacing: .34px;
    font-size: 16px;
    text-align: right;
}

.message-form label span {
    color: #5FB422;
}

.message-form input {
    width: 70%;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    font-family: 'MuseoCyrl';
    font-weight: lighter;
    font-size: 14px;
    color: #000000;
    box-sizing: border-box;
}

.message-form input::placeholder {
    color: #aaa;
}

.message-form {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.message-theme select {
    width: 70%;
    height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    background: #5FB422;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    font-family: 'MuseoCyrl';
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: .34px;
}

.message-form section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.message-form section.message-comment {
    align-items: flex-start;
}

.message-comment textarea {
    height: 191px;
    width: 70%;
    height: 190px;
    padding: 20px;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
    font-family: 'MuseoCyrl';
    font-weight: lighter;
    font-size: 14px;
    color: #AAAAAA;
    box-sizing: border-box;
    resize: none;
}

.message-comment textarea::placeholder {
    color: #aaa;
}

section.message-checkboxes {
    width: 70%;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
    margin-top: 40px;
}

.message-checkboxes input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: unset;
    height: unset;
}

.opacity {
    opacity: 0.3;
    pointer-events: none;
}

button.submit-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
    font-family: 'OpenSans';
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    background: #6AC629;
    box-shadow: 0 6px 16px 0 rgba(119,221,45,0.25);
    border-radius: 4px;
    transition: all .3s ease-in-out;
}

.message-checkboxes-item label {
    padding-left: 30px;
    font-family: 'MuseoCyrl';
    font-size: 14px;
    color: #515768;
    background: url('../img/checkbox.svg') 0 center no-repeat;
    background-size: 16px;
    transition: all .2s ease-in-out;
}

.message-checkboxes-item label.checked {
    background: url('../img/checkbox-checked.svg') 0 center no-repeat;
    background-size: 16px;
}

.message-checkboxes-item label a {
    color: #6EAA27;
    text-decoration: underline dashed;
}

.message-checkboxes-item label a:hover {
    text-decoration: none;
}

.message-checkboxes-item:first-child {
    margin-bottom: 12px;
}

.submit-form-btn:hover {
    opacity: 0.7;
}

.popup-message-sent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 47px;
    padding-bottom: 45px;
    background: #fff;
}

.popup__title {
    font-family: 'MuseoCyrl';
    font-size: 30px;
    color: #000;
    letter-spacing: .44px;
    text-align: center;
}

.popup__subtitle {
    margin-top: 8px;
    font-family: 'OpenSans';
    font-size: 16px;
    color: #797979;
    letter-spacing: .46px;
}

.popup__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 44px;
    margin-top: 40px;
    font-family: 'OpenSans';
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    background: #6AC629;
    box-shadow: 0 6px 16px 0 rgba(119,221,45,0.25);
    border-radius: 4px;
    cursor: pointer;
}

.popup__btn:hover {
    opacity: .7;
}

.popup-message-sent .mfp-close {
    opacity: 0 !important;
}

@media only screen and (max-width: 690px) {
    .message-form section {
        flex-direction: column;
    }

    .message-theme select {
        width: 100%;
    }

    .message-form input,
    .message-comment textarea {
        width: 100%;
    }

    .message-form label {
        width: 100%;
        margin-bottom: 10px;
        text-align: left;
    }

    section.message-checkboxes {
        width: 100%;
    }

    .message-form .submit-form-btn {
        width: 170px;
    }
}