extends ../../template/_layout

block pageVar
	-
		page = 'products';

block path
	-
		baseDir = '/f';

block title
	-
		title = 'Продукция для женщин';

block articleVar
	-
		article = 'Читайте статьи наших экспертов'

block page
	section.products-item
